* {
    box-sizing: border-box;
}

.container {
    margin: 37px 360px;
}

.name {
    font: normal normal normal 80px/106px Roboto;
}

.name p {
    margin: 0;
    letter-spacing: 0px;
}

.area {
    margin-top: 48px;
    margin-bottom: 80px;
}

.area p.area-title{
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid black
}

.area p.area-title span {
    padding-left: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #A00404;
}

.area p{
font-size: 24px;
line-height: 12px;
}

.pb24{
    padding-bottom: 24px !important;
}

.box{
    color: white;
    background-color: #415165;
}